<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cefazurefunction20240911123151.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1258b7d2-65cd-4ece-97f4-36924d47376e/resourcegroups/htmltopdfconversion/providers/Microsoft.Web/sites/CEFAzureFunction20240911123151</ResourceId>
    <UserName>$CEFAzureFunction20240911123151</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cefazurefunction20240911123151.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>